/* ------------------ Page ----------------- */

body {
    font-family: 'Gill Sans', sans-serif;
    background-color: #CCCCCC;
}

a {
    text-decoration: none;
    color: blue;
}

div {
    border-radius: 5px;
}

/* ---------------- Header ------------------- */

.header {
    background-color: #A3F409;
    height: 100px;
    border: 1px groove black;
}

.header h1 {
    position: relative;
    top: 20px;
    text-align: center;
}

.header #profiel {
    text-align: right;
    position: relative;
    top: -40px;
    right: 5px;
    font-size: 20px;
}

.header #home {
    text-align: left;
    top: 0px;
    left: 5px;
    font-size: 20px;
}

/* ------------------ Search Bar ----------------- */


.search {
    background-color: #CCCCCC;
    height: 50px;
    text-align: center;
}

.search input{
    height: 40px;
    width: 995px;
}


/* ----------------- Body ------------------ */
.bcontainer {
    background-color: #CCCCCC;
    text-align: center;
}

.bcontainer .body {
    display: inline-block;
    height: 700px;
    width: 1000px;
    border: 1px groove black;
    text-align: center;
}

.body #hit {
    border: 1px groove black;
    padding: 55px;
    margin: 8px 5px 8px 5px;
    text-align: center;
}

.body #hit #afb {
    position: relative;
    display: inline-block;
    border: 1px groove black;
    float: left;
    padding: 40px;
    bottom: 40px;
}


/* ---------------- Bottom ------------------- */

.bottom {
    background-color: #A3F409;
    width: 100%;
    border: 1px groove black;
    clear: both;
    text-align: center;
}